<div class="container">
  <div class="row">
    <div class="col-auto mr-auto align-self-center"><h5>Posts</h5></div>
    <% if user_signed_in? %>
      <div class="col-auto"><%= link_to 'New Post', new_post_path, class:"btn btn-secondary" %></div>
    <% end %>
  </div>
</div>
<br>

<% @posts.each do |post| %>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col-auto mr-auto"><h1 class="display-4"><%= post.title %></h1></div>
        <div class="col-auto align-self-center">

          <% if post.user == current_user %>
            <%= link_to 'Edit', edit_post_path(post), class:"btn btn-secondary btn-sm" %> 
            <%= link_to 'Delete', post, class:"btn btn-outline-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
      <p class="lead"><%= post.user.username %></p>
      <p class="lead"><%= post.created_at %></p>
      <p class="lead"><%= post.article %></p>
      <p class="lead"><%= link_to 'Add a comment', post %> | 
        <%= link_to "Comments(#{post.comments.count})", post %></p>
    </div>
  </div>
<% end %>
<br><br>