<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-auto mr-auto"><h1 class="display-4"><%= @post.title %></h1></div>
      <div class="col-auto align-self-center">
        <% if @post.user == current_user %>
          <%= link_to 'Edit', edit_post_path(@post), class:"btn btn-secondary btn-sm" %> 
          <%= link_to 'Delete', @post, class:"btn btn-outline-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
    <p class="lead"><%= link_to @post.user.email, post_path, style: "color:#555" %></p>
    <p class="lead"><%= @post.created_at %></p>
    <p class="lead"><%= @post.article %></p>
  </div>
</div>
  
<%= link_to 'Back', posts_path, class:"btn btn-secondary btn-sm" %>

<br><br><h1>Comments:</h1><br>
<%= form_for([@post, @post.comments.build]) do |f| %>
  



  <div class="field form-group">
    <% f.label :author %>
    <%= f.text_field :author, class:"form-control", placeholder:"Author" %>
  </div>

  <div class="field form-group">
    <% f.label :body %>
    <%= f.text_area :body, class:"form-control", placeholder:"Comment", rows:"5" %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-secondary" %>
  </div>

<% end %>
